   #### Project_3 - Energy-consumption-aus
   - Population dataframe - Ref. table-B - Australian population, GDP and energy consumption, by state and territory.
   - Energy dataframe - Ref. Table-F Energy consumption, by state and territory, by industry and fuel type, energy unit.

In [1]:
# import dependences 
import json
import pandas as pd
from pytrends.request import TrendReq
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
import datetime as datetime

In [2]:
# Read individual sheets to dataframes:
population_au = pd.read_csv("Resources/population_au.csv")
population_au_df = pd.DataFrame(population_au)

population_nsw = pd.read_csv("Resources/population_nsw.csv")
population_nsw_df = pd.DataFrame(population_nsw)

population_qld = pd.read_csv("Resources/population_qld.csv")
population_qld_df = pd.DataFrame(population_qld)

population_sa = pd.read_csv("Resources/population_sa.csv")
population_sa_df = pd.DataFrame(population_sa)

population_tas = pd.read_csv("Resources/population_tas.csv")
population_tas_df = pd.DataFrame(population_tas)

population_vic = pd.read_csv("Resources/population_vic.csv")
population_vic_df = pd.DataFrame(population_vic)

population_wa = pd.read_csv("Resources/population_wa.csv")
population_wa_df = pd.DataFrame(population_wa)

population_nt = pd.read_csv("Resources/population_nt.csv")
population_nt_df = pd.DataFrame(population_nt)

In [3]:
#combine all population dataframes into one new population dataframe
population_frames = [population_au_df, population_nsw_df,population_qld_df,population_sa_df,population_tas_df,population_vic_df,population_wa_df,population_nt_df]
population_data = pd.concat(population_frames)
# print(population_data.columns)

In [4]:
# drop irrelevant columns
population_data = population_data.drop(['Energy intensity','Energy productivity ','Energy consumption per capita'], axis=1)
# print(population_data.columns)

In [5]:
# Read individual sheets to dataframes
fuel_aus = pd.read_csv("Resources/fuel_aus.csv")
fuel_aus_df = pd.DataFrame(fuel_aus)
# print(fuel_aus_df.columns)

fuel_nsw = pd.read_csv("Resources/fuel_nsw.csv")
fuel_nsw_df = pd.DataFrame(fuel_nsw)
# print(fuel_aus_df.columns)

fuel_nt = pd.read_csv("Resources/fuel_nt.csv")
fuel_nt_df = pd.DataFrame(fuel_nt)
# print(fuel_aus_df.columns

fuel_qld = pd.read_csv("Resources/fuel_qld.csv")
fuel_qld_df = pd.DataFrame(fuel_qld)
# print(fuel_aus_df.columns)

fuel_sa = pd.read_csv("Resources/fuel_sa.csv")
fuel_sa_df = pd.DataFrame(fuel_sa)
# print(fuel_aus_df.columns)

fuel_tas = pd.read_csv("Resources/fuel_tas.csv")
fuel_tas_df = pd.DataFrame(fuel_tas)
# print(fuel_aus_df.columns)

fuel_vic = pd.read_csv("Resources/fuel_vic.csv")
fuel_vic_df = pd.DataFrame(fuel_vic)
# print(fuel_aus_df.columns)

fuel_wa = pd.read_csv("Resources/fuel_wa.csv")
fuel_wa_df = pd.DataFrame(fuel_wa)
# print(fuel_aus_df.columns)

In [6]:
#  Select the relevant columns 
fuel_aus_df = fuel_aus_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]


fuel_nsw_df = fuel_nsw_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]


fuel_nt_df = fuel_nt_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]


fuel_qld_df = fuel_qld_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]


fuel_sa_df = fuel_sa_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]

fuel_tas_df = fuel_tas_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]


fuel_vic_df = fuel_vic_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]

fuel_wa_df = fuel_wa_df[['Location', 'Industry', ' Fuels consumed','2000-01', '2001-02', '2002-03', '2003-04',
       '2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
       '2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19']]

# print(fuel_aus_df.columns)

In [7]:
# Move individual date columns to single date column
fuel_aus_df= pd.melt(fuel_aus_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

fuel_wa_df= pd.melt(fuel_wa_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

fuel_vic_df= pd.melt(fuel_vic_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

fuel_tas_df= pd.melt(fuel_tas_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

fuel_sa_df= pd.melt(fuel_sa_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

fuel_qld_df= pd.melt(fuel_qld_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

fuel_nt_df= pd.melt(fuel_nt_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

fuel_nsw_df= pd.melt(fuel_nsw_df, id_vars=['Location', 'Industry', ' Fuels consumed'], value_vars=['2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'], var_name='date').sort_values(by = 'date')

In [8]:
#Combine all fuel dataframes into one new dataframe
frames = [fuel_aus_df, fuel_nsw_df,fuel_qld_df,fuel_sa_df,fuel_tas_df,fuel_vic_df,fuel_wa_df,fuel_nt_df]
energy_data = pd.concat(frames)

In [9]:
# remove spaces from strings field
energy_data[' Fuels consumed'] = energy_data[' Fuels consumed'].str.replace(' ', '')
energy_data['Industry'] = energy_data['Industry'].str.replace(' ', '')

In [10]:
# rename dataframes columns and check datatype and 
energy_data.rename(columns = { 'Location':'location','Industry':'industry',' Fuels consumed':'fuels_consumed'}, inplace = True)
# print(energy_data.info()) 

population_data.rename(columns = {'Date':'date', 'Location':'location',
'Population':'population','GDP':'GDP','Energy consumption':'energy_consumption','GSP':'GSP'}, inplace = True)
# print(population_data.info())

In [11]:
# Select fuel_consumed type into a new df (selection was based on https://www.nem-watch.info/widgets/reneweconomy/)

# check all fuel type in dataframe
# print(energy_data['fuels_consumed'].unique()) 

# make a List new fuel type options
fuels_consumed_list = ['Browncoal', 'Blackcoal','LPG','Diesel','Fueloil','Naturalgas', 'Electricity','Solarenergy','Liquid/gasBiofuels','Solvents']

#filtered data based on the above list into a new dataframe
filtered_energy = energy_data[energy_data.fuels_consumed.isin(fuels_consumed_list)]

In [12]:
# Select only main industry from the dataframe  into a new df ( all sub-division to be excluided)

# check all all industries in dataframe
# print(filtered_energy['industry'].unique())

# make a new list for the selected industries
industries_list = ['Agriculture',
                   'Residential',
                   'Commercial_services',
                   'Electricity_gas_water_serv',
                   'Construction',
                   'Manufacturing',
                   'Mining',
                   'Transport_postal',
                   'Solvents_lubricants']

#use the filtered_energy  data above and filter again the data to select only the main industries
energy_final = filtered_energy[filtered_energy.industry.isin(industries_list)]
# print(energy_final['industry'].unique())

In [13]:
#remove NAN values from dataframes
energy_final = energy_final.dropna(how='any')
# energy_final.isnull().values.any()
# print(energy_final.info())

In [14]:
#change datatype of energy columns
energy_final = energy_final.astype({"value": float})
# print(energy_final.info())

In [15]:
# check for duplicate rows except first occurrence based on all columns
duplicateRowsDF = energy_final[energy_final.duplicated()]
# print(duplicateRowsDF) #  duplicates no found

duplicateRows2DF = population_data[population_data.duplicated()]
# print(duplicateRows2DF) #  duplicates no found

In [16]:
# Save clean dataframes as csv file
energy_final.to_csv("Data/energy_final.csv")
population_data.to_csv("Data/population_final.csv")

# energy_test = pd.read_csv("Data/energy_final.csv")
# print(energy_test)

# population_test = pd.read_csv("Data/population_final.csv")
# print(population_test)

In [17]:
# Create database connection and add tables/data to sql database
engine = create_engine('postgresql+psycopg2://postgres:9102@localhost/energy_consumption_db?port=5432')

In [18]:
energy_final.to_sql(name='energy', con=engine, if_exists='append', index=False)

In [19]:
population_data.to_sql(name='population', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "19,274,701.00"
LINE 1: ...rgy_consumption, "GSP") VALUES ('2000-01', 'aus', '19,274,70...
                                                             ^

[SQL: INSERT INTO population (date, location, population, "GDP", energy_consumption, "GSP") VALUES (%(date)s, %(location)s, %(population)s, %(GDP)s, %(energy_consumption)s, %(GSP)s)]
[parameters: ({'date': '2000-01', 'location': 'aus', 'population': '19,274,701.00', 'GDP': '1,127,062.00', 'energy_consumption': '5,011.80', 'GSP': None}, {'date': '2001-02', 'location': 'aus', 'population': '19,495,210.00', 'GDP': '1,172,160.00', 'energy_consumption': '5,097.00', 'GSP': None}, {'date': '2002-03', 'location': 'aus', 'population': '19,720,737.00', 'GDP': '1,207,160.00', 'energy_consumption': '5,138.70', 'GSP': None}, {'date': '2003-04', 'location': 'aus', 'population': '19,932,722.00', 'GDP': '1,256,117.00', 'energy_consumption': '5,284.70', 'GSP': None}, {'date': '2004-05', 'location': 'aus', 'population': '20,176,844.00', 'GDP': '1,296,365.00', 'energy_consumption': '5,399.20', 'GSP': None}, {'date': '2005-06', 'location': 'aus', 'population': '20,450,966.00', 'GDP': '1,332,593.00', 'energy_consumption': '5,546.70', 'GSP': None}, {'date': '2006-07', 'location': 'aus', 'population': '20,827,622.00', 'GDP': '1,383,822.00', 'energy_consumption': '5,724.00', 'GSP': None}, {'date': '2007-08', 'location': 'aus', 'population': '21,249,199.00', 'GDP': '1,434,441.00', 'energy_consumption': '5,738.30', 'GSP': None}  ... displaying 10 of 152 total bound parameter sets ...  {'date': '2017-18', 'location': 'nt', 'population': '247,058.00', 'GDP': None, 'energy_consumption': 91.1, 'GSP': '26,501.00'}, {'date': '2018-19', 'location': 'nt', 'population': '246,103.00', 'GDP': None, 'energy_consumption': 140.1, 'GSP': '26,109.00'})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)